<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
</head>

<body>
  {{!-- triple brackets, render HTML of the sub-template we will pass onto this layout template --}}
  {{{body}}}

</body>

</html>